.featureContainer{
    width: 100%;
    height: auto;
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.featureimg{
    width: 20rem;
    height: 20rem;
}
